services:

  db:
    image: postgres:latest
    restart: always
    environment:
      USE_DOCKER_ENV: true
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./pgdata:/var/lib/postgresql:rw
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5

  api-gateway:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./.env.docker
    # ports:
    #   - 8000:8000
    depends_on:
      - db
    networks:
      - dev
      
  frontend:
    container_name: frontend
    build:
      context: ~/ui
    networks:
      - dev

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - './nginx.conf:/etc/nginx/nginx.conf'
      - /etc/letsencrypt/live/sixplore.ru/fullchain.pem:/etc/letsencrypt/live/sixplore.ru/fullchain.pem
      - /etc/letsencrypt/live/sixplore.ru/privkey.pem:/etc/letsencrypt/live/sixplore.ru/privkey.pem
    depends_on:
      - api-gateway
      - frontend
    networks:
      - dev

networks:
  dev:
    driver: bridge
  