services:

  db:
    image: postgres:latest
    restart: always
    environment:
      USE_DOCKER_ENV: true
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./pgdata:/var/lib/postgresql:rw
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - dev

  api-gateway:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./.env.docker
    restart: unless-stopped
    ports:
      - 8001:8000
    depends_on:
      db:
        condition: service_healthy
    networks:
      - dev
      
  frontend:
    container_name: frontend
    build:
      context: ~/ui
    restart: unless-stopped
    networks:
      - dev

  nginx:
    image: nginx:stable-alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - './nginx.conf:/etc/nginx/nginx.conf:ro'
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - api-gateway
      - frontend
    networks:
      - dev

networks:
  dev:
    driver: bridge
  